<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wr.mapper.SysUserMapper">

    <sql id="selectUserVo">
        select * from sys_user
    </sql>
    <select id="getUserList" parameterType="Long" resultType="com.wr.domain.SysUserPojo.SysUserVo">
        <include refid="selectUserVo"/>
        <where>
            deleted = 0
            <if test="userName != null and userName != ''">and user_name like concat("%",#{userName},"%") </if>
            <if test="mobile != null and mobile != ''">and mobile  like concat("%",#{mobile},"%") </if>
            <if test="status != null">and status = #{status}</if>
            <if test="params != null">
                <if test="params.startTime != null">AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.startTime},'%y%m%d')</if>
                <if test="params.endTime != null">AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')</if>
            </if>
        </where>
    </select>

    <select id="selectAllocatedList" resultType="com.wr.domain.SysUserPojo.SysUserVo">
        select distinct u.user_id, u.user_name, u.nick_name, u.mailbox, u.mobile, u.status, u.create_time
        from sys_user u
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where u.deleted = 0 and r.role_id = #{roleId}
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile like concat('%', #{mobile}, '%')
        </if>
    </select>
    <select id="selectUnallocatedList" resultType="com.wr.domain.SysUserPojo.SysUserVo">
        select distinct u.user_id, u.user_name, u.nick_name, u.mailbox, u.mobile, u.status, u.create_time
        from sys_user u
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where u.deleted = 0 and (r.role_id != #{roleId} or r.role_id IS NULL)
        and u.user_id not in (select u.user_id from sys_user u inner join sys_user_role ur on u.user_id = ur.user_id and ur.role_id = #{roleId})
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile like concat('%', #{mobile}, '%')
        </if>
    </select>
</mapper>
